<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <title>Restaurant Apps Starter Project</title>
</head>
<body>
  <a href="#maincontent" class="skip-link">Menuju ke konten</a>
  <header class="header">
    <div class="header__inner">
      <h1 class="header__title">
        Restaurant Apps Astroo Resto
      </h1>
    </div>
    <button id="menu" class="header__menu">☰</button>    
  </header>

  <nav id="drawer" class="nav">
    <ul class="nav__list">
      <li class="nav__item"><a href="index.html">Home</a></li>
      <li class="nav__item"><a href="#">Favorite</a></li>
      <li class="nav__item"><a href="https://www.instagram.com/mhmmdputera_/">About Us</a></li>
    </ul>
  </nav>
  
  <div class="hero">
    <div class="hero__inner">
      <h1 class="hero__title">Berbagai Hidangan Khas Daerah</h1>
      <p class="hero__tagline">Nikmati hidangan spesial dari menu yang sudah kami sediakan dengan penuh cinta dan rasa khas makanan daerah</p>
    </div>
  </div>

  <main id="maincontent">
    <section class="content">
      <div class="latest">
        <h1 class="latest__label">Explore Restaurant</h1>
        <div class="posts">
          <article class="post-item">
            <img class="post-item__thumbnail"
                 src="https://restaurant-api.dicoding.dev/images/medium/41"
                 alt="Gambar cabang Medan">
                 <p class="post-item__city">Medan</p>
            <div class="post-item__content">
              <p class="post-item__rating">rating: 4.6</p>
              <h1 class="post-item__title"><a href="#">Bring Your Phone Cafe</a></h1>
              <p class="post-item__description">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet.</p>
            </div>
          </article>

          <article class="post-item">
            <img class="post-item__thumbnail"
                 src="https://restaurant-api.dicoding.dev/images/medium/07"
                 alt="Gambar cabang Bali">
                 <p class="post-item__city">Bali</p>
            <div class="post-item__content">
              <p class="post-item__rating">rating: 4.6</p>
              <h1 class="post-item__title"><a href="#">Run The Gun</a></h1>
              <p class="post-item__description">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet.</p>
            </div>
          </article>

          <article class="post-item">
            <img class="post-item__thumbnail"
                 src="https://restaurant-api.dicoding.dev/images/medium/29"
                 alt="Gambar cabang Ternate">
                 <p class="post-item__city">Ternate</p>
            <div class="post-item__content">
              <p class="post-item__rating">rating: 4.8</p>
              <h1 class="post-item__title"><a href="#">Pangsit Express</a></h1>
              <p class="post-item__description">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet.</p>
            </div>
          </article>
          
          <article class="post-item">
            <img class="post-item__thumbnail"
                 src="https://restaurant-api.dicoding.dev/images/medium/38"
                 alt="Gambar cabang Malang">
                 <p class="post-item__city">Malang</p>
            <div class="post-item__content">
              <p class="post-item__rating">rating: 4.7</p>
              <h1 class="post-item__title"><a href="#">Ducky Duck</a></h1>
              <p class="post-item__description">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet.</p>
            </div>
          </article>
          
          <article class="post-item">
            <img class="post-item__thumbnail"
                 src="https://restaurant-api.dicoding.dev/images/medium/40"
                 alt="Gambar cabang Bali 2">
                 <p class="post-item__city">Bali</p>
            <div class="post-item__content">
              <p class="post-item__rating">rating: 3.8</p>
              <h1 class="post-item__title"><a href="#">Kafein</a></h1>
              <p class="post-item__description">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet.</p>
            </div>
          </article>
          
          <article class="post-item">
            <img class="post-item__thumbnail"
                 src="https://restaurant-api.dicoding.dev/images/medium/08"
                 alt="Gambar cabang Malang 2">
                 <p class="post-item__city">Malang</p>
            <div class="post-item__content">
              <p class="post-item__rating">rating: 4.6</p>
              <h1 class="post-item__title"><a href="#">Makan mudah</a></h1>
              <p class="post-item__description">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet.</p>
            </div>
          </article>

          <article class="post-item">
            <img class="post-item__thumbnail"
                 src="https://restaurant-api.dicoding.dev/images/medium/32"
                 alt="Gambar cabang Surabaya">
                 <p class="post-item__city">Surabaya</p>
            <div class="post-item__content">
              <p class="post-item__rating">rating: 3.6</p>
              <h1 class="post-item__title"><a href="#">Saya Suka</a></h1>
              <p class="post-item__description">But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, the master-builder of human happiness. No one rejects, dislikes, or avoids pleasure itself, because it is pleasure, but because those who do not know how to pursue pleasure rationally encounter consequences that are extremely painful. Nor again is there anyone who loves or pursues or desires to obtain pain of itself, because it is pain, but because occasionally circumstances occur in which toil and pain can procure him some great pleasure.</p>
            </div>
          </article>

          <article class="post-item">
            <img class="post-item__thumbnail"
                 src="https://restaurant-api.dicoding.dev/images/medium/45"
                 alt="Gambar cabang Aceh">
                 <p class="post-item__city">Aceh</p>
            <div class="post-item__content">
              <p class="post-item__rating">rating: 4</p>
              <h1 class="post-item__title"><a href="#">Gigitan Cepat</a></h1>
              <p class="post-item__description">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet.</p>
            </div>
          </article>

          <article class="post-item">
            <img class="post-item__thumbnail"
                 src="https://restaurant-api.dicoding.dev/images/medium/04"
                 alt="Gambar cabang Malang 3">
                 <p class="post-item__city">Malang</p>
            <div class="post-item__content">
              <p class="post-item__rating">rating: 3.9</p>
              <h1 class="post-item__title"><a href="#">Fairy Cafe</a></h1>
              <p class="post-item__description">But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, the master-builder of human happiness. No one rejects, dislikes, or avoids pleasure itself, because it is pleasure, but because those who do not know how to pursue pleasure rationally encounter consequences that are extremely painful. Nor again is there anyone who loves or pursues or desires to obtain pain of itself, because it is pain, but because occasionally circumstances occur in which toil and pain can procure him some great pleasure.</p>
            </div>
          </article>
        
        </div>
      </div>
    </section>
  </main>
  <footer>
    <ul>
      Copyright © 2023 - AstroResto Apps
    </ul>
  </footer> 
</body>
</html>
